# rules_oci: disable builtin credential handling
common --repo_env=OCI_GET_TOKEN_ALLOW_FAIL=1

# replace this with your registry of choice
common --credential_helper=index.docker.io=%workspace%/tools/credential-helper
